@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.App {
	text-align: center;
	background: linear-gradient(#4761e9, #46957d);
	height: 100vh;
	font-family: "Space Grotesk", sans-serif;
	color: white;
	align-items: center;
	justify-content: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.alwayson-tag {
	position: absolute;
	left: 15px;
	top: 15px;
	color: #e9e9e9;
	font-size: 18px;
	font-weight: bold;
}

.login-container {
	display: grid;
	grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr 1fr 0.25fr;
	height: 55vh;
	width: 80vw;
	align-items: center;
	margin-left: 10vw;
}

.signup-container {
	display: grid;
	grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
	height: 76vh;
	width: 80vw;
	align-items: center;
	margin-left: 10vw;
}

.main-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 100%;
	height: 100vh;
}

.auth-topline {
	font-weight: bold;
	font-size: 35px;
}

.auth-input-title {
	font-weight: 500;
	font-size: 19px;
	text-align: left;
}

.auth-input-container {
	width: 80vw;
	justify-content: flex-start;
	align-items: start;
}

.auth-input-area {
	-webkit-appearance: none;
	width: 95%;
	height: 4.5vh;
	outline: none;
	border-radius: 8px;
	border: 1px solid white;
	background: #bdcaf8;
	font-family: "Space Grotesk", sans-serif;
	font-style: 400;
	font-size: 16px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-submit-btn {
	-webkit-appearance: none;
	outline: none;
	background: #5fc5ff;
	border-radius: 8px;
	border: 0 solid white;
	color: white;
	font-family: "Space Grotesk", sans-serif;
	font-weight: bold;
	font-size: 19px;
	width: 100%;
	height: 7vh;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-submit-btn:hover {
	cursor: pointer;
}

.auth-already-tagline {
	text-align: start;
	font-weight: 400;
	text-decoration: underline;
}

.auth-already-tagline:hover {
	cursor: pointer;
}

.auth-error-msg {
	color: red;
	font-weight: 500;
}

.left-main-tray {
	display: grid;
	grid-template-rows: 1fr 11fr;
	max-height: 100vh;
	min-width: 250px;
}

.main-alwayson-title {
	position: absolute;
	left: 12px;
	top: 12px;
	color: #e9e9e9;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	display: flex;
	flex-direction: row;
}

.main-alwayson-title h1 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

.main-top-left-container {
	border-bottom: 1px solid white;
	display: flex;
	flex-direction: row-reverse;
}

.main-logout-btn {
	text-align: right;
	align-self: flex-end;
	border: 1px solid black;
	color: white;
	font-family: "Space Grotesk", sans-serif;
	font-weight: bold;
	background: #1612b8;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	border-radius: 4px;
	cursor: pointer;
	margin: 4px;
}

.friend-list-container {
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.main-search-container {
	width: 100%;
	height: 4vh;
	background: #bdcaf8;
	display: grid;
	grid-template-columns: 6fr 1fr;
	border: 1px solid white;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
}

.main-search-container > input {
	background: transparent;
	min-width: 1vw;
	border: none;
	outline: none;
	padding-left: 6px;
	font-family: "Space Grotesk", sans-serif;
	font-weight: 400;
}

.main-search-btn {
	cursor: pointer;
}

.searched-user-container {
	display: flex;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	height: 5vh;
	align-items: center;
}

.searched-username {
	text-align: left;
}

.searched-btn {
	cursor: pointer;
	outline: none;
	border: 0 solid black;
	font-family: "Space Grotesk", sans-serif;
	font-weight: 500;
	height: 3vh;
	border-radius: 6px;
}

.request-searched-btn {
	background: transparent;
	color: white;
}

.request-searched-btn:hover {
	background: rgba(150, 255, 255, 0.1);
}

.free-request-icon {
	float: right;
}

.request-icon-container {
	align-items: center;
	justify-content: center;
}
