/*
 * Styling from https://codepen.io/kirstenallen/pen/MWwPYYm
 */


html {
  --color-blue: #83af9b;
  --color-green: #c8c8a9;
  --color-brown: #774f38;
  --color-beige: #ece5ce;
  --color-yellow: #f9cdad;
  --color-pink: #fe4365;
  }
  
.playercursor {
  justify-content: left;
  background: transparent;
}

  .playercursor p {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    mix-blend-mode: multiply;
    text-align: center;
    text-transform: initial;
    font-weight: lighter;
    letter-spacing: 0;
    font-size: 0.5em;
    margin-top: 1.5em;
    color: var(--color-brown);
    background-color: var(--color-beige);
    min-width: 3em;
    padding: 0.1em;
    border-radius: 0.5em;
    position: relative;
    box-shadow: 0.15em 0.15em var(--color-blue);
    font-family: sans-serif;
    /* border: 1px solid var(--color-green); */
  }
  .playercursor p:before {
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: "";
    font-weight: bold;
    /* -webkit-text-stroke: 0.5px var(--color-green); */
    -webkit-text-fill-color: var(--color-beige);
    /* border: 1px solid var(--color-green); */
    text-shadow: 0.15em 0.15em var(--color-blue);
    text-align: left;
    font-size: 1em;
    width: 1.2em;
    height: 0.6em;
    border-radius: 0.5em;
    background-color: var(--color-beige);
    position: absolute;
    display: block;
    left: 5px;
    top: -0.8em;
    box-shadow: 0.15em 0.15em var(--color-blue);
    z-index: -2;
  }
  .playercursor p:after {
    transform: translatey(0px);
    animation: float3 5s ease-in-out infinite;
    content: "";
    font-weight: bold;
    /* -webkit-text-stroke: 0.5px var(--color-green); */
    -webkit-text-fill-color: var(--color-beige);
    /* border: 1px solid var(--color-green); */
    text-shadow: 0.15em 0.15em var(--color-blue);
    text-align: left;
    font-size: 1em;
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.5em;
    background-color: var(--color-beige);
    position: absolute;
    display: block;
    left: 10px;
    top: -1.6em;
    box-shadow: 0.15em 0.15em var(--color-blue);
    z-index: -2;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(5px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  @keyframes float2 {
    0% {
      transform: translatey(0px);
    }
    55% {
      transform: translatey(-2px);
    }
    60% {
      transform: translatey(-2px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes float3 {
    0% {
      transform: translatey(0px);
    }
    55% {
      transform: translatey(-3px);
    }
    60% {
      transform: translatey(-3px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  